{% extends "base.html" %}
{% block title %} Ajouter une Personne {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Ajouter une nouvelle Personne
			</p>
			<form action="" method="POST" novalidate>
				<!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
				{{ form.hidden_tag() }}
				<div class="form-group">
					<p>
						{{ form.nom_genre_wtf.label }}<br>
						{{ form.nom_genre_wtf(size=32) }}<br>
						{% for error in form.nom_genre_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
                        {{ form.prenom_genre_wtf.label }}<br>
						{{ form.prenom_genre_wtf(size=32) }}<br>
						{% for error in form.prenom_genre_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
                        {{ form.date_genre_wtf.label }}<br>
						{{ form.date_genre_wtf(size=32) }}<br>
                        {% for error in form.date_genre_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
                        {{ form.tel_pers_wtf.label }}<br>
						{{ form.tel_pers_wtf(size=32) }}<br>
                        {% for error in form.tel_pers_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
                        {{ form.mail_pers_wtf.label }}<br>
						{{ form.mail_pers_wtf(size=32) }}<br>
                        {% for error in form.mail_pers_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
				</div>
				{{ form.submit(class="btn btn-primary") }}
			</form>
		</div>
	</div>
</div>
{% endblock %}

