{% extends "base.html" %}
{% block title %} Ajouter une carte grise {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Ajouter une nouvelle Carte grise
			</p>
			<form action="" method="POST" novalidate>
				<!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
				{{ form.hidden_tag() }}
				<div class="form-group">
					<p>
                        <span>
						{{ form.marque_wtf.label }}<br>
						{{ form.marque_wtf(size=32) }}<br>
						{% for error in form.marque_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}</span>
                        {{ form.modele_wtf.label }}<br>
						{{ form.modele_wtf(size=32) }}<br>
						{% for error in form.modele_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
                        {{ form.num_chassis_wtf.label }}<br>
						{{ form.num_chassis_wtf(size=32) }}<br>
                        {% for error in form.num_chassis_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
                        {{ form.num_rcp_type_wtf.label }}<br>
						{{ form.num_rcp_type_wtf(size=32) }}<br>
                        {% for error in form.num_rcp_type_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
                        {{ form.date_exp_wtf.label }}<br>
						{{ form.date_exp_wtf(size=32) }}<br>
                        {% for error in form.date_exp_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
                        {{ form.date_first_cir_wtf.label }}<br>
						{{ form.date_first_cir_wtf(size=32) }}<br>
                        {% for error in form.date_first_cir_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
				</div>
				{{ form.submit(class="btn btn-primary") }}
			</form>
		</div>
	</div>
</div>
{% endblock %}

