{% extends "base.html" %}
{% block title %} Afficher Personnes {% endblock %}
{% block body %}
<div class="container">
	<div class="col-md-12">
        <p>
				Voici vos Clients et les pneus qu'ils possèdent<br>
                <br>
                Voulez-vous <a class="btn btn-primary" href="{{ url_for('pers_ajouter_wtf') }}" role="button">Ajouter</a> une personne ?
        </p>

		<table class="table table-responsive-sm">
            {% if data %}
				<thead>
					<tr>
						<th class="" >
						  Id
						</th>
						<th class="" >
						  Nom<br>
						</th>
                        <th class="" >
						  Prénom<br>
						</th>
                        <th class="" >
						  Date de naissance<br>année / mois / jour
						</th>
                        <th class="" >
						  Numéro<br> Téléphone
						</th>
                        <th class="" >
						  Adresse<br> Mail
						</th>
					</tr>
				</thead>
			{% endif %}
			{% for row in data %}
			<tbody>
				<tr>
					  <th class="align-middle">
                          {{ row.id_personne }}
					  </th>
					  <th class="align-middle">
						{{ row.nom_personne }}
					  </th>
                      <th class="align-middle">
						{{ row.prenom_personne|default("", True) }}
					  </th>
                      <th class="align-middle">
						{{ row.naissance_personne.strftime('%d.%m.%Y')|default("", True) }}
					  </th>
                      <th class="align-middle">
						{{ row.num_tel|default("", True) }}
					  </th>
                      <th class="align-middle">
						{{ row.mail_pers|default("", True) }}
					  </th>
					  <th class="align-middle">
						<a class="btn btn-warning" href="{{ url_for('pers_update_wtf', id_personne_btn_edit_html=row.id_personne) }}" role="button">Edit</a>
					  </th>
					  <th class="align-middle">
						<a class="btn btn-danger" href="{{ url_for('pers_delete_wtf', id_personne_btn_delete_html=row.id_personne) }}" role="button">Delete</a>
					  </th>
					<tr>
						<td class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('edit_persPneu_selected', id_persPneu_edit_html=row.id_personne) }}" role="button">Modifier</a>
						</td>
						<td class="align-middle" colspan="5">
							{{ row.PneuPersonne|default("PAS DE PNEUS", True) }}
						</td>
					</tr>
				</tr>
			</tbody>
			{% else %}
				<tbody>
					<tr>
						<td>
							Aucunes Personnes.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('avertissement_sympa_pour_geeks') }}" role="button">Add</a>
						</td>
					</tr>
				</tbody>
			{% endfor %}

		</table>
	</div>
</div>
{% endblock %}
