{% extends "base.html" %}
{% block title %} Afficher MARQUES  {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Marques à disposition<br>
                <br>
                Voulez-vous <a class="btn btn-primary" href="{{ url_for('marquePneu_ajouter_wtf') }}" role="button">Ajouter</a> une marque de pneus ?
			</p>
            <table class="table table-bordered table-sm">
            {% if data %}
                <thead>
                    <tr>
                        <th class="align-middle">
                            id
                        </th>
                        <th class="align-middle">
                            marque_pneu
                        </th>
                    </tr>
                </thead>
            {% endif %}

            {% for row in data %}
				<tbody>
					<tr>
						<td class="align-middle">
							{{ row.id_marque_pneu }}
						</td>
						<td class="align-middle">
							{{ row.marque_pneu }}
						</td>
                        <td class="text-center" class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('marquePneu_update_wtf', id_marque_pneu_btn_edit_html=row.id_marque_pneu) }}" role="button">Modifier</a>
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-danger" href="{{ url_for('marquePneu_delete_wtf', id_marque_pneu_btn_delete_html=row.id_marque_pneu) }}" role="button">Effacer</a>
						</td>
					</tr>
				</tbody>
            {% else %}
				<tbody>
					<tr>
						<td>
							Aucune marque.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('marquePneu_ajouter_wtf') }}" role="button">Ajouter</a>
						</td>
					</tr>
				</tbody>
            {% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}

