{% extends "base.html" %}
{% block title %} Afficher Facture {% endblock %}
{% block body %}
<div class="container">
	<div class="col-md-12">
        <p>
				Voici les Factures de vos clients<br>
                <br>
                Voulez-vous <a class="btn btn-primary" href="{{ url_for('facture_ajouter_wtf') }}" role="button">Ajouter</a> une Facture ?
        </p>
        {% if number ==0 %}
            <div class="position-sticky" style="top: 45px; border-top-color: whitesmoke; background-color: #4e5d6c;">
                <a href="#attente">Vers les factures en Attente --></a><span> / </span>
                <a href="#rappel">Vers les factures en Rappel --></a><span> / </span>
                <a href="#payer">Vers les factures Payées --></a>
            </div><br>
            <div id="attente" style="position: relative; top: -80px" ></div>
        <h2 style="background-color: #0a53be; color: antiquewhite; text-align: center;">Facture en attente</h2>
            <!-- Button code -->
                <div title="Add to Calendar" class="addeventatc">
                     Créer un rappel pour facture en attente
                <span class="start"></span>
                <span class="end"></span><span class="all_day_event">true</span>
                <span class="timezone">Europe/Paris</span>
                <span class="title">Faire Rappel des Factures</span>
                <span class="description">
                {% for row in data %}
			    <tbody>
				    <tr>
					  <th class="align-middle">
                        {{ row.id_facture }} - {{ row.facturePers|default("PAS DE PERSONNE", True) }} : N° {{ row.num_facture }} du {{ row.date_facture.strftime('%d.%m.%Y')|default("", True) }}, CHF {{ row.cout_facture|default("", True) }}
                      </th>
					</tr>
			    </tbody>

			    {% endfor %}
                </span>
                <span class="location">Bureau</span>
                </div>
		<table class="table table-responsive-sm">
            {% if data %}
				<thead>
					<tr>
						<th class="" >
						  Numéro<br>Id
						</th>
						<th class="" >
						  Numéro<br>Facture
						</th>
                        <th class="" >
						  montant<br>Facture
						</th>
                        <th class="" >
						  date<br>Facture
						</th>
					</tr>
				</thead>
			{% endif %}
			{% for row in data %}
			<tbody>
				<tr>
					  <th class="align-middle">
                          {{ row.id_facture }}
					  </th>
					  <th class="align-middle">
						{{ row.num_facture }}
					  </th>
                      <th class="align-middle">
						{{ row.cout_facture|default("", True) }}
					  </th>
                        <th class="align-middle">
						{{ row.date_facture.strftime('%d.%m.%Y')|default("", True) }}
					  </th>
					  <th class="align-middle">
						<a class="btn btn-warning" href="{{ url_for('facture_update_wtf', id_facture_btn_edit_html=row.id_facture) }}" role="button">modifier la facture</a>
					  </th>
					  <th class="align-middle">
						<a class="btn btn-danger" href="{{ url_for('facture_delete_wtf', id_facture_btn_delete_html=row.id_facture) }}" role="button">supprimer la facture</a>
					  </th>
                    <th class="align-middle">
						<a class="btn btn-danger" href="{{ url_for('facture_rappel', id_facture_rappel_btn_edit_html=row.id_facture) }}" role="button">rappel</a>
					  </th>
                    <th class="align-middle">
						<a class="btn btn-danger" href="{{ url_for('facture_payer', id_facture_payer_btn_edit_html=row.id_facture) }}" role="button">payer</a>
					  </th>
					<tr>
						<td class="align-middle">
							<a class="btn btn-primary" href="{{ url_for('edit_facturePers_selected', id_facturePers_edit_html=row.id_facture) }}" role="button">Associer une personne</a>
						</td>
						<td class="align-middle" colspan="5">
							{{ row.facturePers|default("PAS DE PERSONNE", True) }}
						</td>
					</tr>
				</tr>
			</tbody>
			{% else %}
				<tbody>
					<tr>
						<td>
							Aucunes Factures.
						</td>
					</tr>
				</tbody>
			{% endfor %}

		</table>
            <div id="rappel" style="position: relative; top: -80px" ></div>
        <h2 style="background-color: orangered; color: papayawhip; text-align: center;">Facture en rappel</h2>
            <!-- Button code -->
                <div title="Add to Calendar" class="addeventatc">
                     Créer un rappel pour facture en rappel
                <span class="start"></span>
                <span class="end"></span><span class="all_day_event">true</span>
                <span class="timezone">Europe/Paris</span>
                <span class="title">Faire Rappel des Factures</span>
                <span class="description">
                {% for row in rappel %}
			    <tbody>
				    <tr>
					  <th class="align-middle">
                        {{ row.id_facture }} - {{ row.facturePers|default("PAS DE PERSONNE", True) }} : N° {{ row.num_facture }} du {{ row.date_rappel.strftime('%d.%m.%Y')|default("", True) }}, CHF {{ row.cout_facture|default("", True) }}
                      </th>
					</tr>
			    </tbody>

			    {% endfor %}
                </span>
                <span class="location">Bureau</span>
                </div>
        <table class="table table-responsive-sm">
            {% if rappel %}
				<thead>
					<tr>
						<th class="" >
						  Numéro<br>Id
						</th>
						<th class="" >
						  Numéro<br>Facture
						</th>
                        <th class="" >
						  montant<br>Facture
						</th>
                        <th class="" >
						  date<br>rappel
						</th>
					</tr>
				</thead>
			{% endif %}
			{% for row in rappel %}
			<tbody>
				<tr>
					  <th class="align-middle">
                          {{ row.id_facture }}
					  </th>
					  <th class="align-middle">
						{{ row.num_facture }}
					  </th>
                      <th class="align-middle">
						{{ row.cout_facture|default("", True) }}
					  </th>
                    <th class="align-middle">
						{{ row.date_rappel.strftime('%d.%m.%Y')|default("", True) }}
					  </th>
					  <th class="align-middle">
						<a class="btn btn-warning" href="{{ url_for('facture_update_wtf', id_facture_btn_edit_html=row.id_facture) }}" role="button">modifier la facture</a>
					  </th>
					  <th class="align-middle">
						<a class="btn btn-danger" href="{{ url_for('facture_delete_wtf', id_facture_btn_delete_html=row.id_facture) }}" role="button">supprimer la facture</a>
					  </th>
                    <th class="align-middle">
						<a class="btn btn-danger" href="{{ url_for('facture_payer', id_facture_payer_btn_edit_html=row.id_facture) }}" role="button">payer</a>
					  </th>
					<tr>
						<td class="align-middle">
							<a class="btn btn-primary" href="{{ url_for('edit_facturePers_selected', id_facturePers_edit_html=row.id_facture) }}" role="button">Associer une personne</a>
						</td>
						<td class="align-middle" colspan="5">
							{{ row.facturePers|default("PAS DE PERSONNE", True) }}
						</td>
					</tr>
				</tr>
			</tbody>
			{% else %}
				<tbody>
					<tr>
						<td>
							Aucunes Factures.
						</td>
					</tr>
				</tbody>
			{% endfor %}

		</table>
            <div id="payer" style="position: relative; top: -80px" ></div>
        <h2 style="background-color: green; color: ghostwhite; text-align: center;">Facture Payé</h2>
        <table class="table table-responsive-sm">
            {% if payer %}
				<thead>
					<tr>
						<th class="" >
						  Numéro<br>Id
						</th>
						<th class="" >
						  Numéro<br>Facture
						</th>
                        <th class="" >
						  montant<br>Facture
						</th>
                        <th class="" >
						  date<br>payer
						</th>
					</tr>
				</thead>
			{% endif %}
			{% for row in payer %}
			<tbody>
				<tr>
					  <th class="align-middle">
                          {{ row.id_facture }}
					  </th>
					  <th class="align-middle">
						{{ row.num_facture }}
					  </th>
                      <th class="align-middle">
						{{ row.cout_facture|default("", True) }}
					  </th>
                    <th class="align-middle">
						{{ row.date_paiement.strftime('%d.%m.%Y')|default("", True) }}
					  </th>
					  <th class="align-middle">
						<a class="btn btn-warning" href="{{ url_for('facture_update_wtf', id_facture_btn_edit_html=row.id_facture) }}" role="button">modifier la facture</a>
					  </th>
					  <th class="align-middle">
						<a class="btn btn-danger" href="{{ url_for('facture_delete_wtf', id_facture_btn_delete_html=row.id_facture) }}" role="button">supprimer la facture</a>
					  </th>
					<tr>
						<td class="align-middle">
							<a class="btn btn-primary" href="{{ url_for('edit_facturePers_selected', id_facturePers_edit_html=row.id_facture) }}" role="button">Associer une personne</a>
						</td>
						<td class="align-middle" colspan="5">
							{{ row.facturePers|default("PAS DE PERSONNE", True) }}
						</td>
					</tr>
				</tr>
			</tbody>
			{% else %}
				<tbody>
					<tr>
						<td>
							Aucunes Factures.
						</td>
					</tr>
				</tbody>
			{% endfor %}

		</table>
    {% else  %}
                <h2>facture</h2>
		<table class="table table-responsive-sm">
            {% if data %}
				<thead>
					<tr>
						<th class="" >
						  Numéro<br>Id
						</th>
						<th class="" >
						  Numéro<br>Facture
						</th>
                        <th class="" >
						  montant<br>Facture
						</th>
                        <th class="" >
						  date<br>Facture
						</th>
					</tr>
				</thead>
			{% endif %}
			{% for row in data %}
			<tbody>
				<tr>
					  <th class="align-middle">
                          {{ row.id_facture }}
					  </th>
					  <th class="align-middle">
						{{ row.num_facture }}
					  </th>
                      <th class="align-middle">
						{{ row.cout_facture|default("", True) }}
					  </th>
                        <th class="align-middle">
						{{ row.date_facture|default("", True) }}
					  </th>
					  <th class="align-middle">
						<a class="btn btn-warning" href="{{ url_for('facture_update_wtf', id_facture_btn_edit_html=row.id_facture) }}" role="button">modifier la facture</a>
					  </th>
					  <th class="align-middle">
						<a class="btn btn-danger" href="{{ url_for('facture_delete_wtf', id_facture_btn_delete_html=row.id_facture) }}" role="button">supprimer la facture</a>
					  </th>
                    <th class="align-middle">
						<a class="btn btn-danger" href="{{ url_for('facture_rappel', id_facture_rappel_btn_edit_html=row.id_facture) }}" role="button">rappel</a>
					  </th>
                    <th class="align-middle">
						<a class="btn btn-danger" href="{{ url_for('facture_payer', id_facture_payer_btn_edit_html=row.id_facture) }}" role="button">payer</a>
					  </th>
					<tr>
						<td class="align-middle">
							<a class="btn btn-primary" href="{{ url_for('edit_facturePers_selected', id_facturePers_edit_html=row.id_facture) }}" role="button">Associer une personne</a>
						</td>
						<td class="align-middle" colspan="5">
							{{ row.facturePers|default("PAS DE PERSONNE", True) }}
						</td>
					</tr>
				</tr>
			</tbody>
			{% else %}
				<tbody>
					<tr>
						<td>
							Aucunes Factures.
						</td>
					</tr>
				</tbody>
			{% endfor %}

		</table>
    {% endif %}
	</div>
</div>
{% endblock %}
