{% extends "base.html" %}
{% block title %} Ajouter une adresse {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Ajouter une Nouvelle Adresse
			</p>
			<form action="" method="POST" novalidate>
				<!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
				{{ form.hidden_tag() }}
				<div class="form-group">
					<p>
						{{ form.nom_rue_wtf.label }}<br>
						{{ form.nom_rue_wtf(size=32) }}<br>
						{% for error in form.nom_rue_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
                        {{ form.num_rue_wtf.label }}<br>
						{{ form.num_rue_wtf(size=32) }}<br>
						{% for error in form.num_rue_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
                        {{ form.compl_adresse_wtf.label }}<br>
						{{ form.compl_adresse_wtf(size=32) }}<br>

                        {{ form.num_NPA_wtf.label }}<br>
						{{ form.num_NPA_wtf(size=32) }}<br>
                        {% for error in form.num_NPA_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
                        {{ form.nom_ville_wtf.label }}<br>
						{{ form.nom_ville_wtf(size=32) }}<br>
                        {% for error in form.nom_ville_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
				</div>
				{{ form.submit(class="btn btn-primary") }}
			</form>
		</div>
	</div>
</div>
{% endblock %}

