{% extends "base.html" %}
{% block title %} Afficher Adresse {% endblock %}
{% block body %}
<div class="container">
	<div class="col-md-12">
        <p>
				Voici les Adresse de vos clients<br>
                <br>
                Voulez-vous <a class="btn btn-primary" href="{{ url_for('adresse_ajouter_wtf') }}" role="button">Ajouter</a> une adresse ?
        </p>

		<table class="table table-responsive-sm">
            {% if data %}
				<thead>
					<tr>
						<th class="" >
						  Id
						</th>
						<th class="" >
						  Nom de Rue
						</th>
                        <th class="" >
						  N° de Rue
						</th>
                        <th class="" >
						  Complément d'adresse
						</th>
                        <th class="" >
						  NPA
						</th>
                        <th class="" >
						  Ville
						</th>
					</tr>
				</thead>
			{% endif %}
			{% for row in data %}
			<tbody>
				<tr>
					  <th class="align-middle">
                          {{ row.id_adresse }}
					  </th>
					  <th class="align-middle">
						{{ row.nom_rue }}
					  </th>
                      <th class="align-middle">
						{{ row.num_rue|default("", True) }}
					  </th>
                      <th class="align-middle">
						{{ row.compl_adresse|default("", True) }}
					  </th>
                      <th class="align-middle">
						{{ row.num_NPA|default("", True) }}
					  </th>
                      <th class="align-middle">
						{{ row.nom_ville|default("", True) }}
					  </th>
					  <th class="align-middle">
						<a class="btn btn-warning" href="{{ url_for('adresse_update_wtf', id_adresse_btn_edit_html=row.id_adresse) }}" role="button">Edit</a>
					  </th>
					  <th class="align-middle">
						<a class="btn btn-danger" href="{{ url_for('adresse_delete_wtf', id_adresse_btn_delete_html=row.id_adresse) }}" role="button">Delete</a>
					  </th>
					<tr>
						<td class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('edit_adressePers_selected', id_adressePers_edit_html=row.id_adresse) }}" role="button">Modifier</a>
						</td>
						<td class="align-middle" colspan="5">
							{{ row.adressePers|default("PAS DE PERSONNE", True) }}
						</td>
					</tr>
				</tr>
			</tbody>
			{% else %}
				<tbody>
					<tr>
						<td>
							Aucunes Adresse.
						</td>
					</tr>
				</tbody>
			{% endfor %}

		</table>
	</div>
</div>
{% endblock %}
