{% extends "base.html" %}
{% block title %} Afficher Pneus  {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Pneus à disposition<br>
                <br>
                Voulez-vous <a class="btn btn-primary" href="{{ url_for('pneu_ajouter_wtf') }}" role="button">Ajouter</a> une taille de pneus ?
			</p>
            <table class="table table-bordered table-sm">
            {% if data %}
                <thead>
                    <tr>
                        <th class="align-middle">
                            id
                        </th>
                        <th class="align-middle">
                            Taille_pneu
                        </th>
                        <th class="align-middle">

                        </th>
                        <th class="align-middle">

                        </th>
                        <th class="align-middle">

                        </th>
                    </tr>
                </thead>
            {% endif %}

            {% for row in data %}
				<tbody>
					<tr>
						<td class="align-middle">
							{{ row.id_pneu }}
						</td>
						<td class="align-middle">
							<a href="https://www.wolframalpha.com/input/?i=tire {{ row.Taille_pneu }}" target="_blank">{{ row.Taille_pneu }}</a>
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('pneu_update_wtf', id_pneu_btn_edit_html=row.id_pneu) }}" role="button">Modifier</a>
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-danger" href="{{ url_for('pneu_delete_wtf', id_pneu_btn_delete_html=row.id_pneu) }}" role="button">Effacer</a>
						</td>
					</tr>
				</tbody>
            {% else %}
				<tbody>
					<tr>
						<td>
							Aucun pneus.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('pneu_ajouter_wtf') }}" role="button">Ajouter</a>
						</td>
					</tr>
				</tbody>
            {% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}

