<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>{% block title %}Mon beau projet{% endblock %}</title>
    <!-- AddEvent script -->
    <script type="text/javascript" src="https://addevent.com/libs/atc/1.6.1/atc.min.js" async defer></script>

	<!-- Bootstrap CSS en local -->
	<!-- OM 2020.05.04 OM JE PREFERE GARDER MES FICHIERS CSS ET JS DANS UN REPERTOIRE "EN LOCAL"
        SINON ON EST TOUJOURS DEPENDANT D'UNE LIAISON A L'INTERNET. -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="{{ url_for('static', filename='js/jquery.slim.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
	<script src="{{ url_for('static', filename='bootstrap-5.0.0-beta2-dist/js/bootstrap.min.js') }}"></script>

	<!-- Stylesheets en local -->
	<!-- https://bootswatch.com/darkly/ -->
	<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootswatch-4/darkly/bootstrap.min.css') }}">-->

	<!-- https://bootswatch.com/superhero/ -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootswatch-4/superhero/bootstrap.min.css') }}">
	<!-- https://flask.palletsprojects.com/en/1.1.x/patterns/favicon/ -->
	<link rel="shortcut icon" href="{{ url_for('static', filename='Capture.ico') }}">

	{% block head %}
	{% endblock %}
</head>
<body>


{% block header %} {% endblock %}

{% include 'flash_messages.html' %}
<!-- Navigation -->
<div class="container">
	<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-secondary">
		<div class="container-fluid">

            <a href="http://www.garagelongchamp.ch/index.html" target="blank"><img width="175" height="36"  src="{{ url_for('static', filename='GaLoLogo.png') }}"></a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
				<ul class="navbar-nav">
                     <li class="nav-item dropdown">
                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                            <a type="button" class="btn btn-dark" href="{{ url_for('cartePers_afficher', id_carte_grise_sel=0) }}">Carte grise</a>

                            <div class="btn-group" role="group">
                                <button id="btnGroupDrop1" type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="">
                                    <a class="dropdown-item" href="{{ url_for('adressePers_afficher', id_adresse_sel=0) }}">Adresse client</a>
                                    <!--<a class="dropdown-item" href="{{ url_for('cartePers_afficher', id_carte_grise_sel=0) }}">Carte grise</a>-->
                                    <a class="dropdown-item" href="{{ url_for('persPneu_afficher', id_personne_sel=0) }}">Client et pneu</a>
                                </div>
                            </div>
                        </div>
                    </li>
					<li class="nav-item">
						<!--		Afficher la liste des genres dans l'ordre (ASC) et tous les genres (0)-->
						<a class="nav-link" href="{{ url_for('marquePneu_afficher', order_by='ASC', id_marque_pneu_sel=0) }}">Marques de pneus</a>
					</li>
                    <li class="nav-item">
						<!--		Afficher la liste des genres dans l'ordre (ASC) et tous les genres (0)-->
						<a class="nav-link" href="{{ url_for('pneu_afficher', order_by='ASC', id_pneu_sel=0) }}">Pneus</a>
					</li>
                    <li class="nav-item">
						<!--		Afficher la liste des genres dans l'ordre (ASC) et tous les genres (0)-->
						<a class="nav-link" href="{{ url_for('facturePers_afficher', order_by='ASC', id_facture_sel=0) }}">Suivi des Factures</a>
					</li>
					<!--<li class="nav-item">
						<a class="nav-link" href="{{ url_for('personnes_taille_dict') }}">Démo "TAILLE"</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('route_hommage_a_u_x_V_ictim_es_du_monstre_du_mod_1_0_4') }}">Route "essai"</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Autres démos
						</a>
						<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
							<li><a class="dropdown-item" href="{{ url_for('index') }}">Démo index (sans template)</a></li>
							<li><a class="dropdown-item" href="404.html">404</a></li>
							<li><a class="dropdown-item" href="{{ url_for('mon_premier_wtform') }}">Essai form</a></li>
							<li><a class="dropdown-item" href="{{ url_for('demo_select_wtf') }}">Essai DROPDOWN</a></li>
						</ul>
					</li>-->
				</ul>

                <a type="button" class="btn btn-dark" href="{{ url_for('mapagepricipale') }}">Remerciements</a>
                <form class="d-flex">
                    <input class="form-control me-sm-2" id="search" type="text" placeholder="Rechercher">
                    <input class="btn btn-secondary my-2 my-sm-0" type="button" id=submit_form" value="Rechercher" onclick="checkInput()">
                </form>
			</div>
		</div>
	</nav>
</div>

<!-- End Navigation -->

{% block body %}{% endblock %}

{% block javascript %}
    <script>
            function checkInput() {
                var query = document.getElementById('search').value;
                window.find(query);
                return true;
            }
        </script>
{% endblock %}
{% include 'footer.html' %}
</body>
</html>
