<footer class="mt-auto py-2">
  <div class="container-fluid">
      <hr class="py-0 bg-light" />
        <table width="100%">
            <tr>
                <td>Version Alpha<br>
                Initiation construite pour être multipliée<br>
                Base donnée construite à partir d'un code donné par Olivier Maccaud
                </td>
                <td style="text-align: right; vertical-align: bottom">Benoît Saturnin</td>
            </tr>
        </table>
  </div>
</footer>
