{% extends "base.html" %}
{% block title %} Remerciements {% endblock %}
{% block body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h1>
				Remerciement
			</h1>
			<h3>
                <br>
				Ce projet est le fruit d'une collaboration. Je remercie infiniement les personnes qui m'ont aidé à le développer<br>
			</h3>
            <ul>
                <br>
                <li class="list-item">
					    Monsieur Olivier Maccaud
                    <ul>
                        Pour la conception du code, la transmission de son savoir et son humanisme en rapport avec ma situation
                    </ul>
                </li>
                <br>
                <li class="list-item">
                    Monsieur Rui Caldas
                    <ul>
                        Pour son aide sur le développement du système de gestion des factures
			        </ul>
                </li>
                <br>
                <li class="list-item">
                    Messieurs Christopher Andrade, Luigi Martella et William Pasquier
                    <ul>
                        Pour leurs aides et leurs soutiens dans les moments difficiles
			        </ul>
                </li>
            </ul>
		</div>
	</div>
</div>
{% endblock %}
