{% extends "base.html" %}
{% block title %} Afficher carte grise {% endblock %}
{% block body %}
<div class="container">
	<div class="col-md-12">
        <p>
				Voici les cartes grises de vos clients<br>
                <br>
                Voulez-vous <a class="btn btn-primary" href="{{ url_for('carte_ajouter_wtf') }}" role="button">Ajouter</a> une carte grise ?
        </p>

		<table class="table table-responsive-sm">
            {% if data %}
				<thead>
					<tr>
						<th class="" >
						  Numéro<br>Id
						</th>
						<th class="" >
						  Marque<br>véhicule
						</th>
                        <th class="" >
						  Modèle<br>véhicule
						</th>
                        <th class="" >
						  Numéro<br> châssis
						</th>
                        <th class="" >
						  Récéption <br> par type
						</th>
                        <th class="" >
						  Dernière expertise<br>année / mois / jour
						</th>
                        <th class="" >
						  Première mise en circulation<br>année / mois / jour
                        </th>
					</tr>
				</thead>
			{% endif %}
			{% for row in data %}
			<tbody>
				<tr>
					  <th class="align-middle">
                          {{ row.id_carte_grise }}
					  </th>
					  <th class="align-middle">
						{{ row.marque_car }}
					  </th>
                      <th class="align-middle">
						{{ row.modele_car|default("", True) }}
					  </th>
                      <th class="align-middle">
						{{ row.num_chassis|default("", True) }}
					  </th>
                      <th class="align-middle">
						{{ row.num_rcp_type|default("", True) }}
					  </th>
                      <th class="align-middle">
						{{ row.date_expert.strftime('%d.%m.%Y')|default("", True) }}
					  </th>
                        <th class="align-middle">
						{{ row.date_mise_circul.strftime('%d.%m.%Y')|default("", True) }}
					  </th>
					  <th class="align-middle">
						<a class="btn btn-warning" href="{{ url_for('carte_update_wtf', id_carte_grise_btn_edit_html=row.id_carte_grise) }}" role="button">modifier</a>
					  </th>
					  <th class="align-middle">
						<a class="btn btn-danger" href="{{ url_for('carte_delete_wtf', id_carte_grise_btn_delete_html=row.id_carte_grise) }}" role="button">supprimer</a>
					  </th>
                    <th>
                         <div title="Add to Calendar" class="addeventatc">
                     Calendrier pour RDV
                <span class="start"></span>
                <span class="end"></span>
                <span class="timezone">Europe/Paris</span>
                <span class="title" >Rendez-vous pour...</span>
                <span class="description">

                           Client-e : {{ row.cartePers|default("PAS DE PERSONNE", True) }}<br>
                            Véhicule : {{ row.marque_car }} ,  {{ row.modele_car|default("", True) }} , Année : {{ row.date_mise_circul.strftime('%m.%Y')|default("", True) }}<br>
                            N° de chassis : {{ row.num_chassis|default("", True) }}<br>
                            N° de récéption par type : {{ row.num_rcp_type|default("", True) }}<br>
                            Date de la dernière expertise : {{ row.date_expert.strftime('%d.%m.%Y')|default("", True) }}<br>
                            Commentaire ?

                </span>
                <span class="location">Garage</span>
                    </div>
                    </th>

					<tr>
						<td class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('edit_cartePers_selected', id_cartePers_edit_html=row.id_carte_grise) }}" role="button">Modifier</a>
						</td>
						<td class="align-middle" colspan="5">
							{{ row.cartePers|default("PAS DE PERSONNE", True) }}
						</td>
					</tr>
				</tr>
			</tbody>
			{% else %}
				<tbody>
					<tr>
						<td>
							Aucunes Cartes Grises.
						</td>
					</tr>
				</tbody>
			{% endfor %}


		</table>

	</div>
</div>
{% endblock %}
